:root {
  --main-bg-color-1: #444444;
}

@font-face {
  font-family: "Starjedi";
  src: url("../fonts/starjedi/Starjedi.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 100% 10vw;
  grid-gap: 1em;
  margin: 0 auto;
}

header,
.footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background: #eaeaea;
}
/*
aside {
  grid-column: 4 / 5;
  height: 250px;
  position: fixed;
  width: 25%;
  right: 10px;
  margin-top: 215px;
} */

/* Demo Specific Styles */

.header,
aside,
.footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 200px;
}
.footer {
  height: 10vw;
}
.header {
  background-image: url("../images/death-star.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
}
.header h1 {
  font-family: Starjedi;
  /* margin: 2em; */
  font-size: 2.5em;
  color: white;
  /* align-self: flex-start; */
  margin-right: auto;
  padding-left: 50px;
}

.footer {
  color: white;
  background: var(--main-bg-color-2);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(59, 59, 64, 1) 59%,
    rgba(118, 127, 129, 1) 87%
  );
}

.header h1 a {
  text-decoration: none;
  color: white;
}

/* Blog post */
.blog-post {
  margin: 16px;
}

.blog-post article {
  clear: both;
}

.blog-post__figure {
  width: 250px;
  margin-top: 0px;
}

.blog-post__figure img {
  width: 250px;
}

.blog-post__figure--left {
  clear: left;
  float: left;
}

.blog-post__figure--right {
  clear: right;
  float: right;
}

/* post__quote */
/* blog-post__title */

/* Author */

.author-card {
  display: flex;
  flex-direction: column;
  background-color: #aaaaaa;
  /* width: 400px; */
  width: 50%;
  /* min-height: 650px; */
  border-radius: 6px;
  margin: 1em;
  /* padding: 2rem; */
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.author-card__header {
  background-color: #aaaaaa;
  color: #333; /* padding: 0.5em; */
  /* margin-bottom: -15px */
  display: flex;
  flex-direction: column;
}
.author-card__header h3 {
  margin-left: auto;
  padding-right: 1em;
  margin-bottom: 2px;
  margin-top: 10px;
}
.author-card__header__avatar {
  background: #333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #aaaaaa;
}

.author-card__header__avatar p {
  font-size: 1.5em;
  padding-left: 1.25em;
  background: #333;
  color: #aaaaaa;
}

.author-card__header__avatar__image {
  width: 100px;
  height: 100px;
  /* border-color: aqua;
  border-width: thick; */
  border: outset beige;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  margin-left: 1em;
  margin-bottom: -100px;
}
.author-card__content {
  margin-top: 50px;
  color: #333;
  padding: 1em;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-content: stretch;
  /* .author-card__title {
}
.author-card__avatar {
}
.author-card__bio { */
}

.social {
  /* background-color: #aaaaaa; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
  border-radius: 6px;
  /* margin: em; */
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  /* color: white; */
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
}

/*  Sidebar */

@media (max-width: 700px) {
  body {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-rows: 200px 90% 10vw 100px;
    /* grid-gap: 1em;
    margin: 0 auto; */
  }
  .header {
    grid-row: 1/ 2;
  }
  main {
    grid-column: 1 / span 5;
    grid-row: 2/ 3;
  }
  aside {
    grid-column: 1 / span 5;
    /* height: 300px; */
    position: initial;
    grid-row: 3/ 4;
  }
  header h1 {
    font-size: 1em;
  }
  .footer {
    grid-column: 1 / span 5;
    grid-row: 4/ 5;
    /* height: 300px; */
    /* position: initial; */
  }
  .author-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 701px) {
  header h1 {
    font-size: 1.5em;
  }

  aside {
    grid-column: 4 / 5;
    /* height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; */
    /* position: fixed;
    width: 25%;
    right: 10px;
    margin-top: 215px; */
    /* top: 215px; */
  }
}
