:root {
  --main-bg-color-1: #444444;
}

@font-face {
  font-family: "Starjedi";
  src: url("../fonts/starjedi/Starjedi.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vw 100% 10vw;
  grid-gap: 1em;
  margin: 0 auto;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background: #eaeaea;
}

aside {
  grid-column: span 2;
}

/* Demo Specific Styles */

header,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  height: 10vw;
}
header {
  background-image: url("../images/death-star.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
}
header h1 {
  font-family: Starjedi;
  /* margin: 2em; */
  font-size: 2.5em;
  color: white;
  /* align-self: flex-start; */
  margin-right: auto;
  padding-left: 50px;
}

footer {
  color: white;
  background: var(--main-bg-color-2);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(59, 59, 64, 1) 59%,
    rgba(118, 127, 129, 1) 87%
  );
}

header h1 a {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
  main,
  aside {
    grid-column: 1 / span 5;
  }
  header h1 {
    font-size: 1em;
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  header h1 {
    font-size: 1.5em;
  }
}

/* Blog post */
.blog-post {
  margin: 16px;
}

.blog-post article {
  clear: both;
}

.blog-post__figure {
  width: 250px;
  margin-top: 0px;
}

.blog-post__figure img {
  width: 250px;
}

.blog-post__figure--left {
  clear: left;
  float: left;
}

.blog-post__figure--right {
  clear: right;
  float: right;
}

/* post__quote */
/* blog-post__title */
