/**
Styles for our card component
*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #444;
}

.card {
  position: relative;
  background: #333;
  width: 400px;
  height: 75vh;
  min-height: 375px;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* BEM - convention */
.card__image-container {
  margin: -2rem -2rem 1rem -2rem;
}

.card__image {
  max-width: 100%;
  /* Initial opacity, trick for the animation :D */
  opacity: 0;
  animation-name: ImageFadeIn;
  animation-duration: 0.8s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  /* Short hand animation ... */
  /* animation: ImageFadeIn 0.8s 1.4s forwards; */
}

.card__title {
  color: white;
  margin-top: 0;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.card__content {
  margin-top: -1rem;
  /* Initial opacity, trick for the animation :D */
  opacity: 0;
  animation-name: ContentFadeIn;
  animation-duration: 0.8s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  /* Short hand animation ... */
  /* animation: ContentFadeIn 0.8s 1.6s forwards; */
}

@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
