:root {
  --main-bg-color-1: #444444;
  --main-bg-color-2: #333;
  --color2: #a9a8a8;
}

@font-face {
  font-family: "Starjedi";
  src: url("../fonts/starjedi/Starjedi.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 100% 10vw;
  margin: 0 auto;
  background-color: var(--color2);
}

.header {
  grid-column: 1 / span 5;
  background-image: url("../images/death-star.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
}

.header h1 {
  font-family: Starjedi;
  font-size: 2.5em;
  color: white;
  margin-right: auto;
  padding-left: 50px;
}

.header h1 a {
  font-family: Starjedi;
  text-decoration: none;
  color: white;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: 4 / 5;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  color: var(--color2);
  background-color: var(--main-bg-color-1);
  display: flex;
  justify-content: center;
}
aside nav {
  max-height: 650px;
  margin-top: 100px;
  background: #333;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-left: 16px;
  margin-right: 16px;
  padding: 16px;
}
aside nav a {
  color: orange;
}

.footer {
  grid-column: 1 / span 5;
  color: white;
  background-image: url("../images/star-wars-2.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aaaaaa;
}

.footer a {
  text-decoration: none;
  font-weight: 600;
  color: #545581;
}

/* 3 cards row */
@media (min-width: 1152px) and (max-width: 1728px) {
  aside nav {
    margin-top: 15px;
  }
}

/* Tablet & samrtphoe */
@media (max-width: 1151px) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 1fr auto 100px;
    grid-gap: 0em;
    margin: 0 auto;
  }
  .header {
    grid-row: 1/2;
    grid-column: 1 / span 5;
  }
  main {
    grid-row: 2/3;
    grid-column: 1 / span 5;
  }
  aside {
    grid-row: 3/4;
    grid-column: 1 / span 5;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .footer {
    grid-row: 4/5;
    grid-column: 1 / span 5;
  }
}

@media (max-width: 863px) {
  aside nav {
    width: 400px;
    margin: 16px;
    padding: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}
/* 2 cards row */
@media (min-width: 864px) and (max-width: 1151px) {
  aside nav {
    width: 800px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

@media (min-width: 397px) and (max-width: 700px) {
  .header h1 {
    font-size: 2em;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 250px) and (max-width: 396px) {
  .header h1 {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: 250px) {
  .header h1 {
    font-size: 0.8em;
    margin: 0 auto;
    padding: 0;
  }
  .header {
    background-position: initial;
    background-color: #444;
  }
  .footer h3 {
    font-size: 0.9em;
  }
  .footer div {
    font-size: 0.7em;
  }
}
